What is Pandas?

Pandas is a fast, powerful, easy-to-use open-source python library for data manupulation and analysis. It is built on top of  NumPy (another python library)which is a multidimensional array with a only homogeneous elements. While Pandas is designed to work with **heterogeneous data** with rows and columns. It works with tabular, textual, also time-series data. Its function and structure are similar to an spreadsheet or SQL tables.

Pandas has two data structures, **Series** and **Dataframe** which we will review in detail. 

Why should we learn Pandas?

Pandas is fast , flexible and effcient in analyzing data from various sources and it is open source. Pandas can be run on your desktop and in the cloud for faster computing power. It is the top choice for data scientists and there is a large Pandas community to lean on. Pandas was born from python and this aspect gives it a massive reach into the type of data sources and capabilities you can build around your data analysis. 

How are we going to achieve the learning goal?

This article is for all levels, It focuses on the basics of Python Pandas:

1. Getting started with Pandas using Google Colab
2. Pandas data structures
- Series
- Dataframe
3. Constructing Series and Dataframe

**Getting started with Pandas using Google Colab**

For the purposes of my tutorials I will be using Google Colab. I find Google Colab to be the easiest and quickest way to get started. It is free to use with your gmail account. Just go to this link, sign in and open a notebook to get started

https://colab.research.google.com/

Google maintains everything and you donot install anything and all your data is backed up in Google Drive. Here is a great video by Google to get started with CoLab

https://www.youtube.com/watch?v=inN8seMm7UI

First, we need to import pandas library.

In [1]:
import pandas as pd

Here 'as' created an alias. Instead of writing pandas everywhere, we can write pd.

Data Structures in Pandas
Pandas uses two data structures Series and Data frame to store and analyze data.

**Series**

A Series is a one-dimensional array with a single column that can hold hetrogenous data (integers, strings, floating point numbers, Python objects, etc.).It has an index that can be used to call different data values. elements. In order to create a Series in pandas, first, we need to import pandas library.

Series function in its basic form only needs a list of data to be created. 

pd.Series(data)

In [2]:
data = [2,3,4,5,6]
series_1 = pd.Series(data)
series_1

0    2
1    3
2    4
3    5
4    6
dtype: int64

The output shows index on the left axis (numbers numbers from 0 to 4) and data in the column on the right.

Lets name our series

In [3]:
series_1 = pd.Series(data = [2,3,4,5,6], name='hours' )

series_1

0    2
1    3
2    4
3    5
4    6
Name: hours, dtype: int64

And finally lets set our our own index values.

In [4]:
sale = pd.Series([500,85000,40000,9600,100000],index = ['Cookie', 'Choco', 'Toothpaste', 'Soap', 'Toffee'])
sale

Cookie           500
Choco          85000
Toothpaste     40000
Soap            9600
Toffee        100000
dtype: int64

**DataFrame**

Dataframe is a two dimensinal array. It can also be thought of as a two or more Series. It looks like a spreadsheet or tabular data with rows, columns and an index. It has two acis, axis 0 and axis 1. 0 always means rows, and 1 means columns.

The most straightforward way to create a dataframe is from the dictionary with keys and corespnsing lists. Index by default is numbers (0,1,2..n) unless index defines explicitly.

Lets create a dictionary first.*italicized text*

In [5]:
data = {'country': ['Canada', 'Canada', 'US', 'US', 'UK', 'UK'],
'year': [2010, 2011, 2012, 2013, 2014, 2015],
'pop': [2.5, 1.7, 2.6, 1.4, 4.9, 3.7]}

data

{'country': ['Canada', 'Canada', 'US', 'US', 'UK', 'UK'],
 'pop': [2.5, 1.7, 2.6, 1.4, 4.9, 3.7],
 'year': [2010, 2011, 2012, 2013, 2014, 2015]}

In [6]:
pd.DataFrame(data)

  country  year  pop
0  Canada  2010  2.5
1  Canada  2011  1.7
2      US  2012  2.6
3      US  2013  1.4
4      UK  2014  4.9
5      UK  2015  3.7

DataFrame Function also takes parameters in order to create a dataframe.
- **data**: In this parameter, we assign a dict.
- **index**: It is similar to Series index (0,1,2,3.....n)
- **columns**: If not given, it assigned by default (0,1,2,3.....n)


Here just variable name is written, not a **data** parameter because DataFrame considers the first value as a data parameter. However, we have to write other parameters names like columns, index.

We can also specify the order of columns.

In [7]:
pd.DataFrame(data, columns= ['year', 'country', 'pop'])

   year country  pop
0  2010  Canada  2.5
1  2011  Canada  1.7
2  2012      US  2.6
3  2013      US  1.4
4  2014      UK  4.9
5  2015      UK  3.7

If we create a column with no values pandas put NaN values in it.

In [8]:
data = pd.DataFrame(data, columns= ['year', 'country', 'pop', 'uni'])

data

   year country  pop  uni
0  2010  Canada  2.5  NaN
1  2011  Canada  1.7  NaN
2  2012      US  2.6  NaN
3  2013      US  1.4  NaN
4  2014      UK  4.9  NaN
5  2015      UK  3.7  NaN

**Conclusion**

Pandas have two essential data structures Series and DataFrame. Series is like a one-dimensional array where data frame is a two dimensional array having tabular shaped data with rows and columns with implementation in pandas. Next we will explore ways to select speccific data in Series and Data frames.